In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import category_encoders as ce

C:\Users\Administrator\AppData\Local\Temp\ipykernel_8860\3462029357.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
car = pd.read_csv('cleaned.csv')

In [3]:
car.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
car.drop(['addref'],axis=1,inplace=True)

In [5]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63360 entries, 0 to 63359
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          63360 non-null  object
 1   body          63360 non-null  object
 2   make          63360 non-null  object
 3   model         63360 non-null  object
 4   year          63360 non-null  float64
 5   engine        63360 non-null  float64
 6   transmission  63360 non-null  object
 7   fuel          63360 non-null  object
 8   color         63360 non-null  object
 9   registered    63360 non-null  object
 10  mileage       63360 non-null  int64
 11  price         63360 non-null  float64
dtypes: float64(3), int64(1), object(8)
memory usage: 5.8+ MB

In [6]:
car.describe()

               year        engine         mileage         price
count  63360.000000  63360.000000    63360.000000  6.336000e+04
mean    2013.347049   1396.863068    91231.330540  3.859171e+06
std        7.160001    636.120336    83517.628336  5.018072e+06
min     1990.000000    600.000000        1.000000  1.100000e+05
25%     2008.000000   1000.000000    38000.000000  1.550000e+06
50%     2015.000000   1300.000000    80000.000000  2.800000e+06
75%     2019.000000   1600.000000   122000.000000  4.550000e+06
max     2022.000000   6800.000000  1000000.000000  1.700000e+08

In [7]:
car['body'] = car['body'].replace(['Micro Van', 'Mini Van'], 'Van')
car['body'] = car['body'].replace(['Compact SUV'], 'SUV')
car['body'] = car['body'].replace(['Compact sedan'], 'Sedan')
car['body'] = car['body'].replace(['Compact hatchback'], 'Hatchback')
car['body'] = car['body'].replace(['Single Cabin', 'Double Cabin'], 'Cabin')

In [8]:
car['model'].unique()

array(['Corolla', 'City', 'Yaris', 'Swift', 'Civic', 'Move', 'Mehran',
       'Mira', 'Pajero', 'Cultus', 'Vitz', 'Alto', 'Land', 'BR-V',
       'Tucson', 'Passo', 'C-HR', 'Hustler', 'Sportage', 'Liana', 'Aqua',
       'Baleno', 'Belta', 'Every', 'Raize', 'Vezel', 'Hijet', 'Prado',
       'Elantra', 'Hilux', 'Fortuner', 'Carol', 'N', 'RX', 'Wagon',
       'Benz', 'Bolan', 'Picanto', 'Prius', 'Hiace', 'Cuore', '3',
       'Karvaan', 'Alsvin', 'Glory', 'Accord', 'X-PV', 'Corona', 'X70',
       'Saga', 'Grand', 'HS', 'Up', 'Dayz', 'Oshan', 'Premio', 'Rover',
       'Tundra', 'Sorento', 'Santro', 'RX8', 'Clipper', 'Sonata', 'A3',
       'Esse', 'Vitara', '2008', 'ZS', '5', 'Aygo', 'Bravo', 'Fit',
       'Life', 'Cross', 'Khyber', 'Terios', 'Tanto', 'Santa', 'Stonic',
       'HR-V', 'Otti', 'Sienta', 'A5', 'Mark', 'Ek', 'Celerio', 'Copen',
       'Rush', 'Note', 'Zest', 'LX', 'Crown', 'Surf', 'Cast', 'X1',
       'CR-Z', 'Pearl', 'Q2', 'A4', 'Camry', 'V2', 'Tiggo', 'Lancer',
       'Allion', 'Cayenne', 'Moco', 'Grace', 'Airwave', 'A6', 'Pixis',
       'Boon', 'Ciaz', 'March', 'Thor', 'R2', 'Avensis', 'Margalla',
       'Rav4', 'Stream', 'Joy', 'Q7', 'EK', 'Optra', 'Porte', 'Fj',
       'Cherokee', 'Platz', 'AD', 'Ravi', 'Mirage', 'QQ', 'IST', 'Xbee',
       'Sunny', 'Harrier', 'Juke', '7', 'Racer', 'ISIS', 'Voxy', 'Wake',
       'MR', 'Kizashi', 'Freed', 'Excel', 'Jimny', 'Roomy', 'CR-V',
       'Revo', 'Insight', 'H6', 'Cervo', 'Noah', 'MX', 'Jade', 'Tacoma',
       'Exclusive', 'Town', 'CT200h', 'Avanza', 'Alpha', 'Taft', 'Flair',
       'Classic', 'R1', 'Probox', 'Galant', 'Continental', 'Stella',
       'Patrol', 'FX', 'Wingroad', 'Pino', 'Estima', 'Serena', 'Alphard',
       'S660', 'Panamera', 'MR2', 'Carrier', 'Spacia', 'F', 'Kei', 'A8',
       'Wrangler', 'Roox', 'Lucida', 'Thats', 'iQ', 'BJ40', 'APV',
       'Titan', 'Rocky', 'Rvr', 'Ractis', 'Brio', 'Kicks', 'Sierra',
       'Palette', 'Kona', 'Spike', 'H-100', 'D-Max', 'Q3', 'Tank', 'X2',
       'Potohar', 'Jolion', 'I', 'Coo', 'Pleo', 'Challenger', 'Tiida',
       'Silverado', 'Shehzore', 'Cx3', 'Inspire', 'Cappuccino', 'Minica',
       'Esquire', 'Z', 'Ignis', 'X5', 'TT', 'Mega', 'Duet', 'Spectra',
       'K07', 'Charade', 'Staria', 'Cami', 'Bluebird', 'Trooper', 'Wish',
       'L200', 'Sirius', 'Vamos', 'M9', 'Acty', 'Coaster', 'Gen',
       'Altezza', 'Kix', 'Cooper', 'Toppo', 'Succeed', 'Pride', 'Forland',
       'Primera', 'X', 'Pickup', 'Cressida', 'Z100', 'Beat', 'X200',
       'Aveo', 'Gilgit', 'Sonica', '2', 'Atrai', 'Impreza', 'Storia',
       'Terracan', 'Cx7', 'A7', 'Nx', 'Niro', 'Stavic', 'Amarok',
       'Gladiator', 'Carry', 'Shahbaz', '626', 'Cielo', 'Roadmaster',
       'Beetle', 'Kaghan', 'M8', 'KY10', 'Celica', 'Chaser', 'Navara',
       'Colorado', 'Frontier', 'S', '370Z', 'Mulsanne', 'H2', 'Uno',
       'Raum', 'V40', 'A800', 'Ioniq', 'Caravan', 'L300', 'X3', 'Cerato',
       'Sambar', 'Skyline'], dtype=object)

## FEATURES
- year --int
- fuel --ohe
- transmission --ohe
- engine --int
- body --be
- make --be
- model --be
- mileage --int

In [14]:
X_train, X_test, y_train, y_test = train_test_split(car[['year','fuel','transmission','engine','body','make','model','mileage']], car['price'], test_size=0.2, random_state=42)

In [19]:
y_train.info()

<class 'pandas.core.series.Series'>
Index: 50688 entries, 3494 to 56422
Series name: price
Non-Null Count  Dtype
--------------  -----
50688 non-null  float64
dtypes: float64(1)
memory usage: 792.0 KB

In [20]:
y_test.info()

<class 'pandas.core.series.Series'>
Index: 12672 entries, 55648 to 52564
Series name: price
Non-Null Count  Dtype
--------------  -----
12672 non-null  float64
dtypes: float64(1)
memory usage: 198.0 KB

In [21]:
binary_encoder = ce.BinaryEncoder(cols=['body', 'make', 'model'])
X_train_binary = binary_encoder.fit_transform(X_train)
X_test_binary = binary_encoder.transform(X_test)

In [24]:
X_train_binary.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50688 entries, 3494 to 56422
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          50688 non-null  float64
 1   fuel          50688 non-null  object
 2   transmission  50688 non-null  object
 3   engine        50688 non-null  float64
 4   body_0        50688 non-null  int64
 5   body_1        50688 non-null  int64
 6   body_2        50688 non-null  int64
 7   body_3        50688 non-null  int64
 8   make_0        50688 non-null  int64
 9   make_1        50688 non-null  int64
 10  make_2        50688 non-null  int64
 11  make_3        50688 non-null  int64
 12  make_4        50688 non-null  int64
 13  make_5        50688 non-null  int64
 14  model_0       50688 non-null  int64
 15  model_1       50688 non-null  int64
 16  model_2       50688 non-null  int64
 17  model_3       50688 non-null  int64
 18  model_4       50688 non-null  int64
 19  model_5       50688 non-null  int64
 20  model_6       50688 non-null  int64
 21  model_7       50688 non-null  int64
 22  model_8       50688 non-null  int64
 23  mileage       50688 non-null  int64
dtypes: float64(2), int64(20), object(2)
memory usage: 9.7+ MB